# Copy this file to .env and set values

FLASK_APP=app:app_init
FLASK_DEBUG=1

SECRET_KEY=KEY      #FLASK_SECRET_KEY
DB_URL=URL          #postgresql+psycopg2://user:password@localhost:5432/db_name
JWT_SECRET_KEY=KEY  #JWT_SECRET_KEY

